.header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.header h3 {
    background-color: lightgreen;
    border-radius: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
}

.header h3:hover {
    background-color: rgb(60, 153, 60);
    color: aliceblue;
}

@media only screen and (max-width: 600px) {
    .header h2 {
        font-weight: 700;
        font-size: 1.5rem;
    }
}